@charset "UTF-8";

/*
Theme Name: Cpoint thailand
Theme URI: https://c-point.co.th
Author: Wishvisit
Author URI: https://c-point.co.th
Description: Cpoint Thailand website Design April 2020
Requires at least: 4.9.6
Requires PHP: 5.2.4
Version: 1.0
Text Domain: cpt
*/


/** general**/

.v-center {
    align-self: center;
}


/*flex only*/

img {
    width: 100%;
    height: auto;
}

.clear {
    clear: both
}

.hidden {
    display: none;
}


/** menu desktop**/

section#desktop-top-menu {
    border-top: 10px solid #73bf43;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    top: 0;
    z-index: 2;
    background: white;
    width: 100%;
    height: 100px;
}

#site-logo {
    display: inline-block;
    max-width: 75px;
}

#site-logo img {
    width: 50px;
}

#main-nav {
    text-align: right;
}

#main-nav li {
    display: inline-block;
    text-transform: uppercase;
    padding: 10px 15px;
}

#main-nav li a {
    font-weight: bold;
    color: #808080;
}

#main-nav li a:hover {
    color: #73bf43;
    text-decoration: none;
}

#main-nav li:last-child {
    padding-right: 0;
}

nav.main-navbar {
    text-align: right;
    position: relative;
    display: block;
}

div#main-nav {
    margin-top: 10px;
    z-index: 1;
    background: white;
}

#main-nav ul.sub-menu {
    display: none;
}

#main-nav .menu-item ul.sub-menu {
    padding: 10px;
    border: 1px solid #666;
    border-radius: 5px;
    background: white;
    position: absolute;
}

#main-nav .menu-item:hover ul.sub-menu {
    display: block;
}

#main-nav .menu-item .sub-menu li {
    display: block;
    padding: 0 !important;
    text-align: left;
}

#main-nav .menu-item .sub-menu li a {
    font-size: 12px;
    margin-right: 10px;
}


/** main container **/

main#main-container {
    height: calc(100vh - 300px);
    position: relative;
    padding-top: 100px;
}


/** home **/

div#home-slide img {
    max-height: calc(100vh - 260px);
    width: auto !important;
    margin: auto;
}


/** abou us **/

.about-us-img {
    max-width: 720px;
    margin: auto;
}

.about-us-text {
    font-size: 12px;
}

.circle-wrapper {
    /* 1:1 Aspect Ratio */
    display: block;
    height: 450px;
    width: 450px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
}

.vision {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 2px solid #808080;
    word-break: initial;
    padding: 100px 50px;
}

.vision-img {
    max-width: 75%;
    height: auto;
    margin: auto;
}

.circle-wrapper img {
    width: auto !important;
    height: 80%;
    display: inline-block;
    transform: translate(-50%, 12%);
    left: 50%;
    position: relative;
}

img.client-img {
    max-height: 100px;
    width: auto;
    display: block;
    max-width: 100%;
    margin: 10px auto;
}


/** portfolio **/

h2#side-portfolio-header {
    font-weight: bold;
    text-transform: uppercase;
    color: #808080;
}

li.port-item {
    cursor: pointer;
    list-style: none;
    color: #808080;
    font-size: 17px;
    margin-bottom: 6px;
    font-weight: 500;
}

li.port-item:hover,
li.port-item.selected {
    color: #73bf43;
}

ul#portfolio-list {
    max-height: calc(100vh - 320px);
    overflow-y: scroll;
    padding: 0;
}

ul#portfolio-list ul {
    padding-left: 10px;
}

.page-template-portfolio img.attachment-post-thumbnail {
    display: none !important;
}


/** our service **/

#our-service-top-menu {
    position: absolute;
    right: 5px;
    cursor: pointer;
    top: -10px;
}

#our-service-moboile {
    margin-top: 7px;
    right: 0;
    position: absolute;
}

.service-count {
    color: #73bf43;
    font-size: 26px;
    font-weight: bold;
    position: relative;
    bottom: 7px;
    margin-right: 14px;
}

.service-count-bg {
    display: inline-block;
    background: url("./assets/images/interested_count.png") no-repeat;
    background-size: contain;
    width: 130px;
    height: 30px;
}

#how-to-modal .modal-content {
    background-color: transparent;
    border: none;
}

#how-to-modal .modal-body {
    text-align: center;
    position: relative;
    top: 10vh;
}

#how-to-modal .dismiss {
    margin-top: 15px;
}

#how-to-slide img {
    max-height: 500px;
    width: auto !important;
    display: block;
    margin: auto;
}

#how-to-slide .carousel-indicators {
    bottom: -60px;
}

h2#side-service-header {
    font-weight: bold;
    text-transform: uppercase;
    color: #808080;
}

li.service-item,
li.selected-service-item {
    cursor: pointer;
    list-style: none;
    color: #808080;
    font-size: 17px;
    margin-bottom: 6px;
    font-weight: 500;
}

li.service-item:hover {
    color: #73bf43;
}

.service-content #content-output {
    max-height: calc(100vh - 250px);
    overflow-y: scroll;
}

.service-content #content-output .content-title {
    text-transform: uppercase;
    color: #808080;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}

.service-content #content-output p {
    color: #808080;
    font-size: 16px;
}

ul#service-list {
    max-height: calc(100vh - 320px);
    overflow-y: scroll;
    padding: 0;
}

div#content-output img {
    width: 80%;
    margin: auto;
    display: block;
}

#interest-service {
    display: inline-block;
    width: 195px;
    height: 55px;
    background: url("./assets/images/interest.png") no-repeat;
    background-size: cover;
    position: absolute;
    right: 40px;
    bottom: 0px;
    cursor: pointer;
    z-index: 1;
    padding: 0;
}

#interest-service.interested {
    background: url('./assets/images/interested.png');
    background-size: cover;
}

.content-output {
    max-height: 510px;
    overflow: scroll;
}

.selected-service-header {
    color: #808080;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}

.interest-more {
    display: block;
    width: 195px;
    height: 55px;
    background: url("./assets/images/interest-more.png") no-repeat;
    background-size: cover;
    position: absolute;
    right: 40px;
    bottom: 70px;
    cursor: pointer;
    z-index: 1;
    padding: 0;
}

.interest-send {
    display: block;
    width: 195px;
    height: 55px;
    background: url("./assets/images/interest-send.png") no-repeat;
    background-size: cover;
    position: absolute;
    right: 40px;
    bottom: 0px;
    cursor: pointer;
    z-index: 1;
    padding: 0;
}


/** online media **/

.our-online-media .online-media-logo img {
    max-height: 150px;
    width: auto;
    margin: auto;
    display: block;
}

.our-online-media .link-logo img {
    max-height: 50px;
    width: auto;
    margin: auto;
    display: block;
}

.our-online-media .link-logo {
    display: inline-block;
}

.our-online-media .rate-card img {
    max-width: 200px;
    height: auto;
    margin: auto;
    display: block;
}


/** news & event */

.news-item .thumbnail {
    border-radius: 7px;
}

.news-item .title {
    margin-top: 10px;
}

.news-item a {
    color: #808080;
    text-decoration: none;
}

.news-item a:hover {
    color: #73bf43;
    text-decoration: none;
}


/** new event single **/

.single-side-bar h2#post-side-header {
    color: #73bf43;
    text-transform: uppercase;
    font-weight: bold;
}

.single-side-bar ul#post-side-list {
    max-height: calc(100vh - 320px);
    overflow-y: scroll;
    padding: 0;
}

.single-side-bar li.aside-news-item {
    padding: 10px;
    color: #808080;
    border-top: 1px solid #808080;
}

.single-side-bar li.aside-news-item a {
    color: #808080;
    max-width: 150px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.single-side-bar li.aside-news-item a:hover {
    color: #73bf43;
    text-decoration: none;
}

.single-post-content {
    max-height: calc(100vh - 250px);
    overflow-y: scroll;
}

.single-post-content #content-thumbnail {
    max-width: 80%;
    margin: auto;
}

.single-post-content #content-body {
    color: #808080;
}


/** registration **/


/** contact **/

.contact-images-container img {
    width: 80%;
    margin: auto;
}

h2.contact-title,
h2.news-event-title,
h2.default-page-title {
    color: #73bf43;
    text-transform: uppercase;
    font-weight: bold;
}

.contact-form-container label,
.registration-form-container label {
    color: #808080;
    font-size: 13px;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.contact-form-container .form-group,
.registration-form-container .form-group {
    margin-bottom: 0;
}

.contact-form-container input,
.contact-form-container textarea,
.registration-form-container input,
.registration-form-container textarea {
    color: #808080;
    border-radius: 7px;
    box-shadow: none;
    border: 1px #808080 solid;
    padding-left: 10px;
    max-width: 350px;
    width: 100%;
}

.contact-form-container input[type=submit],
.registration-form-container input[type=submit] {
    color: white;
    border-radius: 7px;
    box-shadow: none;
    border: none;
    padding: 5px;
    max-width: 350px;
    width: 100%;
    margin-top: 15px;
    background: #73bf43;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
}


/** footer **/

footer#site-footer {
    background: #73bf43;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 160px;
}

footer#site-footer:before {
    content: "";
    display: block;
    height: 10px;
    width: 100%;
    background: white;
    border-radius: 78%/0 0 30px 30px;
}

#site-footer .container {
    padding-top: 30px;
    padding-bottom: 30px;
}

#site-footer address {
    font-size: 12px;
}

#site-footer address h4 {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}

.footer-copyright {
    font-size: 12px;
}

footer#site-footer a {
    color: white;
    font-size: 14px;
    display: inline-block;
}

.footer-service img {
    max-height: 40px;
    display: block;
    width: auto;
    margin: auto;
}

@media (max-width: 768px) {
    main#main-container {
        max-width: fit-content;
        height: initial;
        max-width: 100%;
    }

    div#main-nav {
        border: 1px solid #808080;
        border-radius: 5px;
    }

    div#home-slide img {
        max-width: 100%;
    }

    #our-service-top-menu {
        top: 70px;
    }

    #main-nav .menu-item ul.sub-menu {
        position: relative;
    }

    #main-nav .menu-item .sub-menu li {
        display: block;
    }

    li.service-item,
    li.aside-news-item,
    li.selected-service-item {
        display: inline-block;
        border: 1px solid #808080;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 1px 1px #808080;
    }

    ul#service-list,
    #post-side-list {
        overflow-wrap: initial;
        max-width: initial;
        overflow: hidden;
        display: table-cell;
        white-space: nowrap;
    }

    .service-list,
    .single-side-bar {
        overflow-y: scroll;
    }

    #main-nav li:last-child {
        padding-right: 15px;
    }

    ul#portfolio-list {
        max-width: 100vw;
    }

    .portfolio-list ul {
        display: inline-block;
        overflow-wrap: initial;
        max-width: initial;
        white-space: nowrap;
        padding: 0;
    }

    li.port-item {
        display: inline-block;
        border: 1px solid #808080;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 1px 1px #808080;
    }

    .text-center.vision {
        width: initial;
        height: initial;
        border: none;
        padding: 0;
    }

    .interest-more {
        width: 140px;
        height: 40px;
        right: initial;
        bottom: 0;
    }

    .interest-send {
        width: 140px;
        height: 40px;
        right: 30px;
        bottom: 0;
    }

    footer#site-footer {
        position: relative;
        height: initial;
    }
}